.trivia{
    width:80%;
    height:450px;
    background: #58B98F;
    margin: 10%;
    text-align: center;
}

li{
    list-style: none;
}

.panel-round {
    border-radius: 15px;
    border:1px solid #c5c0c0;
    box-shadow:1px 5px 10px  #999999;
}

.panel-header-round{
    border-radius: 15px 15px 0 0 ;
    background: #316AAF;
}

.btn-space{
    margin:5px;
    box-shadow: 1px 5px 5px #333333;
}

.score-screen {
    font-size: 4em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-gradient(linear,  left top,  left bottom, 
        color-stop(0.00, rgb(250, 53, 53)), 
        color-stop(32%, rgb(250, 112, 61)),
        color-stop(46%, rgb(226, 226, 85)),
        color-stop(52%,  rgb(85, 245, 77) ),
        color-stop(60%,  rgb(45, 45, 245) ),
        color-stop(82%, rgb(171, 87, 231) ),
        color-stop(1.00, rgb(253, 132, 149)));
}

.img-height {
    max-height: 400px;
}



